img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 20% 80%;
}

#GWLogo {
    width: 100px;
    height: 60px;
    object-fit: contain;
}

.gwname {
    font-weight: bold;
    font-family: Arial;
    color: black;
}

.hours {
    font-weight: bold;
}

#payments {
    font-weight: bold;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 1em 0;
    padding: 0;
}

#map {
    top: 10px;
    bottom: 10px;
    height: 400px;
    width: 100%;
}

.card {
    width: auto;
    margin-bottom: 10px;
}

.dropdown-menu {
    width: 700px;
}

.btn {
    width: 700px;
    
}

.card-body {
    text-align: left;
}

.shadow-sm {
    width: auto;
    margin-bottom: 10px;
}

a:hover {
    color: blue;
}

a {
    color: black;
}

.card-img {
    width: 300px;
    height: 200px;
}

#app {
    background-image: url("https://images.unsplash.com/photo-1518982074995-47ce824cea56?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}

.scrollItems {
    height: 700px;
    overflow-y: auto;
}

#theFood {
    text-align: left;
}

#gwInfo {
    color: black;
}

#aboutCard {
    opacity: 0.75;
}
